{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data"
class="max-w-xl mx-auto glass p-8 rounded-2xl space-y-4 fade-in">
	<h1 class='text-center text-2xl'>Add new book</h1>
{% csrf_token %}

<input name="title" placeholder="Название" class="w-full p-3 rounded border border-orange-400">
<textarea name="description" placeholder="Описание" class="w-full p-3 rounded border border-orange-400"></textarea>

<input name="price" type="number" step="0.01" placeholder="Цена"
class="w-full p-3 rounded border border-orange-400">

<select name="author" class="w-full p-3 rounded border border-orange-400">
{% for a in authors %}
<option value="{{a.id}}">{{a.full_name}}</option>
{% endfor %}
</select>

<select name="category" class="w-full p-3 rounded border border-orange-400">
{% for c in categories %}
<option value="{{c.id}}">{{c.name}}</option>
{% endfor %}
</select>

<input type="file" name="image">

<button class="bg-orange-500 text-white w-full py-3 rounded-xl hover:scale-105 transition">
Сохранить
</button>

</form>

{% endblock %}