{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data"
class="max-w-xl mx-auto glass p-8 rounded-2xl space-y-4 fade-in">
<h1 class='text-center text-2xl'><span class='text-orange-400 font-bold'>Edit</span><br> {{book.title}}</h1>
{% csrf_token %}

<input name="title" value="{{book.title}}"
class="w-full p-3 rounded border border-orange-400">

<textarea name="description"
class="w-full p-3 rounded border border-orange-400">{{book.description}}</textarea>

<input name="price" value="{{book.price}}"
class="w-full p-3 rounded border border-orange-400">

<select name="author" class="w-full p-3 rounded border border-orange-400">
{% for a in authors %}
<option value="{{a.id}}" {% if a.id == book.author.id %}selected{% endif %}>
{{a.full_name}}
</option>
{% endfor %}
</select>

<select name="category" class="w-full p-3 rounded border border-orange-400">
{% for c in categories %}
<option value="{{c.id}}" {% if c.id == book.category.id %}selected{% endif %}>
{{c.name}}
</option>
{% endfor %}
</select>

<input type="file" name="image">

<button class="bg-orange-500 text-white w-full py-3 rounded-xl hover:scale-105 transition">
Обновить книгу
</button>

</form>

{% endblock %}